aiofiles
aiohttp
apscheduler
bs4
cachetools
chevron
cinemagoer
cloudscraper
countryinfo
datetime
dnspython
ffmpeg
ffmpeg-python
Flask
gTTS
git+https://github.com/NobiDeveloper/cinemagoer
git+https://github.com/vpcreatz/pyrofork
googletrans
gunicorn
hachoir
Heroku3
humanize
marshmallow
motor
NumPy
openai
opencv-python-headless
Pillow
pykeyboard
pymongo
pymongo[srv]
pyrogram
python-dotenv
python-math
pyshorteners
psutil
PyPDF2
requests
search_engine_parser
shortzy
speedtest-cli
telegraph
telethon
tgcrypto
umongo
ujson
wget
werkzeug
wheel
youtube-dl
youtube-search
youtube-search-python
yt-dlp
ytthumb
YoutubeTags
